#contenedor {
    position: fixed; /*Cambié esto de absolute*/
    width: 100%;
    height: 90%;
    border: 100px;
}
#map {
    position: relative;
    width: 100%;
    height: 100%;
    border: 100px;
}
.sidenav{
    z-index: 100; 
    position: fixed;
}
#slide-out{
    
}

#filtroA{
  display: flex;
  justify-content: left;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  
}
.cuerpoFiltro{
    
}
.modal{
    bottom: 10%;
    align-self:stretch;
    display: flexbox
}
